body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    background-image: url('code.jpg');
    background-size: fill;
    background-position: 50% 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;

    --primary-fg: rgba(255, 255, 255, 0.9);
    --primary-bg: rgba(15, 15, 15, 0.8);

    --nav-bg: rgba(20, 20, 20, 0.5);
    --nav-hover-bg: rgba(255, 255, 255, 0.1);

    --border-color: rgba(255, 255, 255, 0.2);

    nav {
        background-color: var(--nav-bg);
        padding: .5rem 0;
        text-align: center;
        backdrop-filter: blur(50px);

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
        }

        li {
            padding-right: 1rem;
        }

        a {
            color: white;
            text-decoration: none;
            padding: .5rem;
            border-radius: 1rem;
        }

        a:hover {
            background-color: var(--nav-hover-bg);
        }

        @media (max-width: 500px) {
            display: none;
        }
    }

    nav.desktop {
        li:not(:last-child)::after {
            content: '|';
            margin-left: 10px;
        }
    }

    nav.mobile {
        display: none;
        padding: 1rem;
        border-radius: 1rem;
        background: transparent;
        backdrop-filter: none;

        details {
            summary {
                list-style: none;
                cursor: pointer;
                font-size: 1.5rem;
                text-align: right;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: block;
            text-align: right;
        }

        li {
            padding: 0.5rem 0;
        }

        @media (max-width: 500px) {
            display: inline-block;
            box-sizing: border-box;
            width: calc(100% - 0.5rem);
        }
    }


    .main {
        font-family: 'Courier New', Courier, monospace;
        color: var(--primary-fg);
        background-color: var(--primary-bg);
        font-size: 1rem;
        padding: 2rem;
        border: 1px solid var(--border-color);
        overflow: auto;
        width: 90dvw;
        height: 80dvh;
        margin: 2rem auto;
        border-radius: 1rem;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);

        pre {
            margin: 0;
            padding: 0;
            font-family: 'Courier New', Courier, monospace;
        }

        input {
            width: 90%;
            padding: 0.5rem;
            font-family: 'Courier New', Courier, monospace;
            font-size: 1rem;
            color: var(--primary-fg);
            background-color: transparent;
            border: none;
        }

        input:focus {
            outline: none;
        }

        @media (max-width: 700px) {
            font-size: .75rem;
        }

        @media (max-width: 500px) {
            width: calc(100dvw - .5rem);
            font-size: .55rem;
            margin: .25rem;
            padding: 1rem;
            box-sizing: border-box;
            height: 50dvh
        }

        @media (max-width: 320px) {
            font-size: .4rem;
        }
    }
}
